BODY {

    background-color : #10116d;
  
    margin: 0;
    font-family : arial;
    
    color : White;
    
    }
.index{
    /* background-image: url("https://easbcn.com/wp-content/uploads/2020/12/rgf.jpg") ; */
    background-size: 100%;
    height: 100vh;
    /* padding: 10px */
    margin: 0;
    border: none;
    padding: 0;
}

h1{
   
        font-family: 'Fredoka One', cursive;
        font-size: xx-large;
        font-weight: 700;
}
h2{
    font-family: 'Fredoka One', cursive;
    color: aliceblue;
}

h3, a {
    font-family: 'Raleway', sans-serif;
    color: aliceblue;

    /* font-family: 'Raleway', sans-serif; */
}


.container{
    margin: 10px; 
    /* border: solid black 2px;   */
    border-radius: 20px; 
    padding: 10px;
}
.containerMax{
    padding: 10px;
}

.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cl{
    flex-direction: column;
}
.bk{
    flex-direction: block;
}

.btn{
    border-radius: 40px;
    border: solid 10px;
    padding: 10px 50px; 
    color: white;
    text-decoration: none;
}

.btn-coral{
    background-color: rgba(49, 45, 45, 0.5);   
    border-color:  rgba(49, 45, 45, 0.5);   
    transition: background-color  1s, border-color 1s;
}

.btn-coral:hover{
    background-color: rgb(35, 117, 19);
    border-color: rgb(35, 117, 19);
}

input{
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
}

ul{
    margin: 0;
    padding: 0;
    text-align: center;
    width: -moz-available;
}

li{
    margin: 5px;
    border-radius: 10px;
    padding: 15px;
    list-style: none;
    display: inline-block;
    width: -moz-available;
    vertical-align: top;
    background-color: rgba(189, 166, 166, 0.8);
    transition: background-color  0.5s;
}

a{
    width: 90%;
}

.btn-nave{
    background-color: rgba(144, 211, 211, 0.8);
    margin: 5px;
    border-radius: 10px;
    padding: 15px;
    list-style: none;
    display: inline-block;
    width: -moz-available;
    vertical-align: top;

}

li:hover{
    background-color: rgb(144, 211, 211);
    
}

li > a {
    text-decoration: none;
}

#logo {
    width: 50px;
    height: 50px;
}

img{
    object-fit: cover;
    width:100%;
    height:100%;
  }

.header{
    background: rgba( 36, 113, 160 , 0.9); 

}
.nav{  
    background: rgba(29, 108, 161, 0.8);  
    justify-content: space-between;
    padding-inline: 2rem;
}
.main{
    background: rgba(27, 79, 114, 0.8); 
}
.aside{
    background: rgba( 31, 97, 141, 0.8); 
}
.asideTwo{
    background: rgba( 31, 97, 141, 0.8); 
}
.footer{ 
     background: rgba(49, 45, 45, 0.5);   
}
.max-wid{
    width: -moz-available;
}

.card{
    border:solid rgba( 31, 97, 141, 0.8);  ;
    overflow: hidden;
    padding:0;
}
.card-header{
    padding: 10px;
    
}
.card-info{
    padding:10px
}

@media screen and (max-width: 640px) {

    .index {
    
    /* background: rgb(6, 6, 160); */
    
    display: grid;

    grid-template-columns: 1fr  ;

    grid-template-rows: 1fr 0.5fr 4fr 1fr;
    }
    
    .asideTwo{
        display: none;
    }
    .aside{
        display: flex;
        flex-direction: row;
    }
    .hidden{
        display: none;
    }


    .nav{
        flex-direction: column;
        margin-inline:0;
        border-radius: 0;
    }

    .main{
        margin-inline:0;
        border-radius: 0;
    }
    
    .nav>div{
        width: -moz-available;
        text-align: center;
    }

    .card{
        margin:0;
        border: none
    }
    
}

/* .header{
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 4fr [x2]
}

.header-logo{
    grid-column: x0 / x1;
    margin: 20px
}
.header-title{
    text-align: center;
    grid-column: x1 / x2;
    justify-content: center;
    align-items: center;
} */
     
@media screen and (min-width: 640px) and (max-width: 1280px) {
    
    .index {
        /*  background: rgb(150, 49, 49); */
    
        display: grid;
        grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3];
        grid-template-rows: [y0] 1fr [y1] 0.5fr [y2] 3fr [y3] 1fr [y4];
        
          
    }
    .header{
        grid-column: x0 / x3;
      /*   display: grid;
        grid-template-columns: [x0] 1fr [x1] 4fr [x2] */
    }

    /* .header-logo{
        grid-column: x0 / x1;
        margin: 20px
    }
    .header-title{
        text-align: center;
        grid-column: x1 / x2;
        justify-content: center;
        align-items: center;
    } */
    .nav{  
        grid-column: x0 / x3;
        grid-row: y1 / y2;
    }
    .main{
        grid-column: x1 / x3;
        grid-row: y2 / y3;
    }
    .aside{
        grid-column: x0 / x1;
        grid-row: y2 / y3;
    }
    .asideTwo{
        display: none;
    }
    .footer{  
         grid-column: x0 / x3;
         grid-row: y3 / y4;
    }

    
}
       
@media screen and (min-width: 1280px) {
    
    .index { 
        /* background: green; */
        display: grid;
        grid-template-columns: [x0] 1fr [x1] 3fr [x2] 1fr [x3] ;
        grid-template-rows: [y0] 1fr [y1] 0.2fr [y2] 3fr [y3] 1fr [y4] ;
    }

    .header{
        grid-column: x0 / x3;
        /* display: grid;
        grid-template-columns: [x0] 1fr [x1] 3fr [x2] */
    }
    /* .header-logo{
        grid-column: x0 / x1;
    }
    .header-title{
    grid-column: x1 / x2;
    justify-content: center;
    align-items: center;
    } */
    .nav{  
        grid-column: x0 / x3;

    }

    .main{
        grid-column: x1 / x2;
        grid-row: y2 / y3;
    }
    .aside{
        grid-column: x0 / x1,;
        grid-row: y2 / y3;
    }
    .asideTwo{
        grid-column:  x2/x3;;
        grid-row: y2 / y3;
    }
    .footer{  
        grid-column: x0 / x3;
        grid-row: y3 / y4;
   }
    
    }

    .form-boton{
        border-radius: 20px;
        margin:10px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: rgba(189, 166, 166, 0.8);
        transition: background-color  0.5s;
        height: 100%;
        width: 100%;
    }