BODY {

    background-color : #10116d;
  
    margin: 0;
    font-family : arial;
    
    color : White;
    
    }
.index{
    /* background-image: url("https://easbcn.com/wp-content/uploads/2020/12/rgf.jpg") ; */
    background-size: 100%;
    height: 100vh;
    /* padding: 10px */
    margin: 0;
    border: none;
    padding: 0;
}

h1{
   
        font-family: 'Fredoka One', cursive;
        font-size: xx-large;
        font-weight: 700;
        font-style: oblique;
}
h2{
    font-family: 'Fredoka One', cursive;
    color: aliceblue;
    

    
}
h2>a{
    font-size: large;
}
h2>a:hover{
    color:aqua
}

h3, a {
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
      

    /* font-family: 'Raleway', sans-serif; */
}

.sub-title{
    font-size: x-large;
    font-weight:800;
}


.container{
    margin: 10px; 
    /* border: solid black 2px;   */
    border-radius: 20px; 
    padding: 10px;
    
}
.container-s{
    margin: 3px; 
    /* border: solid black 2px;   */
    border-radius: 20px; 
    padding: 3px;
    
}
.containerMax{
    padding: 10px;
}

.flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cl{
    flex-direction: column;
}

.tx-c{
    text-align: center;
}
.border{
    border:solid rgba( 31, 97, 141, 0.8);
}
.wid-max{
    width: 90%;
}
.header-logo{
    width: auto;
height: 120%;
}
.btn{
    border-radius: 40px;
    border: solid 10px;
    padding: 10px 50px; 
    color: white;
    text-decoration: none;
}

.btn-coral{
    background-color: rgba(49, 45, 45, 0.5);   
    border-color:  rgba(49, 45, 45, 0.5);   
    transition: background-color  1s, border-color 1s;
}

.btn-coral:hover{
    background-color: rgb(35, 117, 19);
    border-color: rgb(35, 117, 19);
}

#btn-clima{
    height: 35px; 
    padding-left: 5px;
    padding-right: 5px;   
    margin-bottom: 10px; 
    margin-top: 10px;   
    text-transform: uppercase;
    background-color: #386ecc; 
    border-color: #386ecc; 
    border-style: solid; 
    border-radius: 10px;  
    width: 100%;   
    cursor: pointer;
}




input{
    border-radius: 20px;
    padding: 10px;
    font-size: 15px;
}

ul{
    margin: 0;
    padding: 0;
    text-align: center;
    width: -moz-available or fit-content;
}

li{
    margin: 5px;
    border-radius: 10px;
    padding: 15px;
    list-style: none;
    display: inline-block;
    width: -moz-available;
    vertical-align: top;
    background-color: rgba(189, 166, 166, 0.8);
    transition: background-color  0.5s;
    box-shadow: 6px 6px rgba(31, 30, 30, 0.8);
    font-weight:bolder;
    font-style: oblique;
    
}
.wd-fill-av{
    width: -webkit-fill-available;
}
.moz-fill-av{
    width: -moz-available;
}

a{
    width: 100%;
}

.btn-nave{
    
    margin: 5px;
    border-radius: 10px;
    padding: 15px;
    list-style: none;
    display: inline-block;
    width: -moz-available;
    vertical-align: top;

}
.btn-nave-selected{
    background-color: rgba(144, 211, 211, 0.8);
}

li:hover{
    background-color: rgb(144, 211, 211);
    
}

li > a {
    text-decoration: none;
}

#logo {
    width: 50px;
    height: 50px;
}

img{
    object-fit: cover;
    width:100%;
    height:100%;
}

.header{
    background: rgba( 36, 113, 160 , 0.9); 
}

.header-title{
    animation-duration: 3s;
    animation-name: entrada;
  }
  
  @keyframes entrada {
    from {
        scale: 0.5;
    }
    
    to {
        transform: scale(1);
    }
  }

.nav{  
    background: rgba(29, 108, 161, 0.8);  
    justify-content: space-between;
    padding-inline: 2rem;
}
.main{
    background: rgba(27, 79, 114, 0.8); 
}
.aside{
    background: rgba( 31, 97, 141, 0.8); 
}
.asideTwo{
    background: rgba( 31, 97, 141, 0.8); 
}

#container1{
    background-color: red;
    grid-gap: 10px;
    display: grid;
    text-align: center;
}

#container2{
    grid-template-columns: 1fr 2fr 3fr;
    grid-gap: 70px;
    display: grid;
    text-align: center;
    vertical-align: top;
}

#caja1, #caja2, #caja3, #caja4, #caja5 {
    background: rgba( 31, 97, 141, 0.8);
    column-gap: 10px;
    display: flex;
    vertical-align: text-bottom;
    column-gap: normal;
    padding-top: 10%;
    width: 200px;
    height: 200x;
    justify-content: center;
    display: inline-block;
}

#caja1{
    background-color: darkslategray;
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}

#caja2{
    background-color: darkblue;
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}

#caja3{
    background-color: darkcyan;
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}

#caja4{
    background-color: darkcyan;
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}

#caja5{
    background-color: darkkhaki;
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
}

.footer{ 
     background: rgba(49, 45, 45, 0.5);   
     display: flex;
     flex-direction: column;
}
.text-footer{
    font-size: medium;
    text-align: center;
}
.max-wid{
    width: webkit-fill-available ;
}

.card{
    border:solid rgba( 31, 97, 141, 0.8);
    overflow: hidden;
    padding:0;
}
.card-header{
    padding: 10px;
    
}
.card-info{
    padding:10px
}

@media screen and (max-width: 300px){
    .flex{
        flex-wrap: wrap;
    }
    .container{
        padding: 5px;
    }
    li{
        width: -webkit-fill-available;
    }
    ul{
        width: -webkit-fill-available;
    }

    .index {
    
    /* background: rgb(6, 6, 160); */
    
    display: grid;

    grid-template-columns: 1fr  ;

    grid-template-rows: [y0] 1fr [y1] 0.5fr [y2] 4fr [y3]1fr [y4];
    }

    #logo{
        display: none;
    }
    .header{
        grid-row: y0/y1;
    }
    
    .nav{
        grid-row: y1/y2;
        flex-direction: column;
        margin-inline:0;
        border-radius: 0;
    }
    .asideTwo{
        display: none;
    }
    .aside{
        grid-row: y2/y3;
        display: flex;
        flex-direction: row;
    }
    .hidden{
        display: none;
    }



    .main{
        margin-inline:0;
        border-radius: 0;
    }
    
    .nav>div{
        width: -moz-available;
        text-align: center;
    }

    .card{
        margin:0;
        border: none
    }
    h2{
        font-size: medium;
    }
    .max-wid{ width:90%};
    .wid-max{ width:90%};
}

@media screen and (min-width: 301px) and (max-width: 784px) {

    .flex{
        flex-wrap: wrap;
    }
    .container{
        padding: 5px;
    }
    li{
        width: -webkit-fill-available;
    }
    ul{
        width: -webkit-fill-available;
    }
    .max-wid{
         width:90%
        }
    .wid-max{
         width:90%
        }
        h2{
            font-size: medium;
        }

    .index {
    
    /* background: rgb(6, 6, 160); */
    
    display: grid;

    grid-template-columns: 1fr  ;

    grid-template-rows: [y0] 1fr [y1] 0.5fr [y2] 4fr [y3]1fr [y4];
    }

    #logo{
        display: none;
    }
    .header{
        grid-row: y0/y1;
    }
    
    .nav{
        grid-row: y1/y2;
        flex-direction: column;
        margin-inline:0;
        border-radius: 0;
    }
    .asideTwo{
        display: none;
    }
    .aside{
        grid-row: y2/y3;
        display: flex;
        flex-direction: row;
    }
    .hidden{
        display: none;
    }



    .main{
        margin-inline:0;
        border-radius: 0;
    }
    
    .nav>div{
        width: -moz-available;
        text-align: center;
    }

    .card{
        margin:0;
        border: none
    }
    
}

/* .header{
    display: grid;
    grid-template-columns: [x0] 1fr [x1] 4fr [x2]
}

.header-logo{
    grid-column: x0 / x1;
    margin: 20px
}*/

     
@media screen and (min-width: 784px) and (max-width: 1280px) {
    
    .index {
        /*  background: rgb(150, 49, 49); */
    
        display: grid;
        grid-template-columns: [x0] 1fr [x1] 1fr [x2] 1fr [x3];
        grid-template-rows: [y0] 0.7fr [y1] 0.5fr [y2] 3fr [y3] 1fr [y4];
        
          
    }
    .header{
        grid-column: x0 / x3;
      /*   display: grid;
        grid-template-columns: [x0] 1fr [x1] 4fr [x2] */
    }

    /* .header-logo{
        grid-column: x0 / x1;
        margin: 20px
    }
    .header-title{
        text-align: center;
        grid-column: x1 / x2;
        justify-content: center;
        align-items: center;
    } */
    .nav{  
        grid-column: x0 / x3;
        grid-row: y1 / y2;
    }
    .main{
        grid-column: x1 / x3;
        grid-row: y2 / y3;
    }
    .aside{
        grid-column: x0 / x1;
        grid-row: y2 / y3;
    }
    .asideTwo{
        display: none;
    }
    .footer{  
         grid-column: x0 / x3;
         grid-row: y3 / y4;
    }

    
}
       
@media screen and (min-width: 1280px) {
    
    .index { 
        /* background: green; */
        display: grid;
        grid-template-columns: [x0] 1fr [x1] 3fr [x2] 1fr [x3] ;
        grid-template-rows: [y0] 0.7fr [y1] 0.2fr [y2] 3fr [y3] 1fr [y4] ;
    }

    .header{
        grid-column: x0 / x3;
        /* display: grid;
        grid-template-columns: [x0] 1fr [x1] 3fr [x2] */
    }
    /* .header-logo{
        grid-column: x0 / x1;
    }
    .header-title{
    grid-column: x1 / x2;
    justify-content: center;
    align-items: center;
    } */
    .nav{  
        grid-column: x0 / x3;

    }

    .main{
        grid-column: x1 / x3;
        grid-row: y2 / y3;
    }
    .aside{
        grid-column: x0 / x1;
        grid-row: y2 / y3;
    }
    .asideTwo{
       display: none;
    }
    .footer{  
        grid-column: x0 / x3;
        grid-row: y3 / y4;
   }
    
}

    .form-boton{
        border-radius: 20px;
        margin:10px;
        margin-top: 20px;
        margin-bottom: 20px;
        background-color: rgba(189, 166, 166, 0.8);
        transition: background-color  0.5s;
        height: 100%;
        width: 100%;
    }
